/*
    mainStyles.css

    This exercise contains a simple web page with basic HTML / CSS / JavaScript. The defective version will
    have several errors designed to test the diagnostic ability of a developer.
    This is the WORKING version.
*/

body {
    font-family: Arial;
    text-align: center;
}

p.title {
    font-size: x-large;
    background-color: black;
    color: white;
}

span.title {
    color: darkblue;
}

table {
    border: 2px solid black;
    border-collapse:collapse;
    margin: auto;
}
tr.header th {
    border-bottom: 2px solid black;
}

td {
    border: 1px solid lightgrey;
    padding: 5px;
    min-width: 20px;
    text-align: left;
}


/* Hide the unneeded input */
.srcString {
    display:none;
}

